mixin form(alert)
  style.
    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }

    .field label {
      font-size: 14px;
    }

    .field input {
      border-bottom: 2px solid black;
      border-left: none;
      border-radius: 0;
      border-right: none;
      border-top: none;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 20px;
      min-height: 30px;
      outline: none;
      width: 100%;
      -webkit-appearance: none;
    }
    .field input:focus {
      border-bottom-width: 4px;
    }
    .field input:valid {
      border-bottom-color: #008522;
    }
    .field input:invalid {
      border-bottom-color: #d5152e;
      box-shadow: none;
    }

    .field span.help {
      display: none;
      margin-top: 3px;
    }
    .field input:focus + span.help {
      display: inline;
    }
    .field input:focus:valid + span.help {
      color: #008522;
    }
    .field input:focus:invalid + span.help {
      color: #d5152e;
    }

    .field code.example {
      background: #eeeeee;
      border: 1px solid black;
      color: black;
      margin-left: 4px;
      padding: 1px 3px;
    }

    #from, #to {
      text-transform: uppercase;
    }

    .field input[type='submit'] {
      background: #008522;
      border: none;
      color: white;
      cursor: pointer;
      font-size: initial;
      margin-top: 20px;
      padding: 5px;
    }
    form:invalid input[type='submit'] {
      background: #686868;
      color: #bebebe;
      cursor: not-allowed;
      pointer-events: none;
    }
    .cancel-button {
      background: #d5152e;
      color: white;
      margin-bottom: 20px;
    }

  form(action=(alert ? `/${alert.id}` : '/') method='post')
    div.field
      label(for='date') Date
      input(
        id='date'
        name='date'
        type='date'
        required
        placeholder='YYYY-MM-DD'
        min=((new Date()).toISOString().substr(0, 10))
        value=(alert && alert.date.toISOString().substr(0, 10))
      )

    div.field
      label(for='from') From
      input(
        id='from'
        name='from'
        type='text'
        required
        placeholder='SFO'
        pattern='($^)|([A-Za-z]{3})'
        maxlength='3'
        value=(alert && alert.from)
      )
      span.help The three-letter airport code, example:
        code.example SFO

    div.field
      label(for='to') To
      input(
        id='to'
        name='to'
        type='text'
        required
        placeholder='DEN'
        pattern='[A-Za-z]{3}'
        maxlength='3'
        value=(alert && alert.to)
      )
      span.help The three-letter airport code, example:
        code.example DEN

    div.field
      label(for='number') Flight number(s)
      input(
        id='number'
        name='number'
        type='text'
        required
        placeholder='123, 456'
        pattern='[\\d,\\s*]+'
        value=(alert && alert.number)
      )
      span.help If nonstop, separate flight numbers with a comma, example:
        code.example 123, 456

    div.field
      label(for='price') Price threshold
      input(
        id='price'
        name='price'
        type='number'
        required
        placeholder='175'
        value=(alert && alert.price)
      )
      span.help We'll text you if the price drops below this threshold, example:
        code.example 160

    div.field
      label(for='phone') Phone number
      input(
        id='phone'
        name='phone'
        type='tel'
        required
        placeholder='12223334444'
        pattern='1\\d{10}'
        value=(alert && alert.phone || !auth.isAdmin && auth.user || undefined)
      )
      span.help Include your country code, example:
        code.example 12223334444

    div.field
      input(type='submit', value=(alert ? 'Save changes' : 'Create alert'))

    div.field
      a.button.cancel-button(href='/') Cancel
