extends layout.pug

block content
  style(type='text/css').
    p.help {
      max-width: 400px;
    }
    table {
      border-collapse: collapse;
    }
    td, th {
      padding: 3px 5px;
      text-align: center;
      vertical-align: middle;
    }
    tbody tr:nth-child(odd) {
      background: #eeeeee;
    }

  p.help This tool lets you monitor the price of Southwest flights that you've booked. It will text you if the price drops below what you originally paid. Then you can #[a(href='http://dealswelike.boardingarea.com/2014/02/28/if-a-southwest-flight-goes-down-in-price/' target='_blank' rel='noopener') re-book the same flight] and get Southwest credit for the price difference.

  h4
    a(href='/new') + Add Price Alert

  if alerts.length
    table
      thead
        th Date
        th From
        th To
        th Flight
        th Price
        th Phone
      tbody
        each alert in alerts
          tr
            a(href='/')
              td= alert.date.toLocaleDateString()
              td= alert.from
              td= alert.to
              td= alert.number
              td= '$' + alert.price
              td= alert.phone
              td
                a(href=`/${alert.hash()}`) Show
