extends layout.pug

mixin linkCell (alert, value)
  td
    a&attributes(attributes)(href='/' + alert.id)= value

block content
  style.
    body {
      font-family: 'PT Sans';
    }

    .spacer {
      height: 10px;
    }

    .alerts {
      align-items: center;
      flex-direction: column;
      display: flex;
    }
    a.alert-link {
      color: inherit;
      text-decoration: none;
    }
    .alert {
      border: 1px solid #979797;
      box-sizing: border-box;
      display: flex;
      height: 90px;
      max-width: 365px;
    }

    .flight-box {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 80px;
      padding: 5px 5px;
    }
    .flight-box .airport {
      color: #3B61AB;
      font-family: 'PT Mono';
      font-size: 24px;
    }
    .flight-box .flight {
      color: #9B9B9B;
      font-size: 14px;
    }

    .info-box {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      justify-content: center;
      width: 203px;
    }

    .price-box {
      align-items: center;
      background: #FFCA4F;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 70px;
    }
    .price-box .price-group {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 40px;
    }
    .price-box .price-group .price {
      color: #3B61AB;
      font-size: 20px;
    }
    .price-box .price-group .description {
      font-size: 14px;
      line-height: 7px;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .button {
      flex: 0 1 100%;
      height: 20px;
      padding: 5px 40px;
      text-align: center;
      text-decoration: none;
    }
    .new-button {
      background: #008522;
      color: white;
    }
    .sign-out-button {
      background: #FFCA4F;
      color: black;
    }
    .button-spacer {
      flex: 0 0 10px;
    }




    .yolo {}

  div.buttons
    a.button.new-button(href='/new') + Add Alert
    div.button-spacer
    a.button.sign-out-button(href='/sign-out') Sign Out

  div.spacer

  if alerts.length
    div.alerts
      each alert in alerts
        a.alert-link(href='/' + alert.id)
          div.alert
            div.flight-box
              div.airport= alert.from
              div.airport= alert.to
              div.flight ##{alert.number.split(',').join(', ')}
            div.info-box
              div.date= alert.dateString
              div.phone= alert.phoneString
            div.price-box
              div.price-group
                span.price= '$' + alert.price
                span.description you paid
              if alert.latestPrice < Infinity
                div.price-group
                  span.price= '$' + alert.latestPrice
                  span.description currently
        div.spacer
