extends layout.pug

block content
  style.
    .from-to {
      color: #3B61AB;
      font-family: 'PT Mono', 'monospace';
      font-size: 24px;
    }

    div.price span:first-child {
      display: inline-block;
      width: 90px;
    }

    .buttons {
      margin-bottom: 40px;
    }
    .edit-button {
      background: #ffca4f;
    }
    .delete-button {
      background: #d5152e;
      color: white;
    }


  h3 Alert details

  div.date= alert.formattedDate
  div.date= alert.formattedPhone
  br

  div.from-to= `${alert.from}-${alert.to}`
  div.flight= alert.formattedNumber
  br

  div.price
    span Current price
    span $#{alert.latestPrice}
  div.price
    span Alert price
    span $#{alert.price}

  div.graph!= graph

  div.buttons
    a.button.edit-button(href=`/${alert.id}/edit`) Edit
    div.button-spacer
    a.button.delete-button(href=`/${alert.id}/delete`) Delete
