extends layout.pug

block content
  style.
    td:first-child {
      font-weight: bold;
      padding-right: 5px;
    }
    div.graph {
      margin-top: 15px;
      max-width: 450px;
    }

  h3 Alert

  p
    a(href=`/${alert.id}/edit`) Edit
    br
    a(href=`/${alert.id}/delete`) Delete

  table
    tbody
      tr
        td Date
        td= alert.dateString
      tr
        td From
        td= alert.from
      tr
        td To
        td= alert.to
      tr
        td Flight
        td= alert.number
      tr
        td Price
        td(title=`Current price: $${alert.latestPrice}`)= '$' + alert.price
      tr
        td Phone
        td= alert.phone

  div.graph!= graph
