extends layout.pug

include mixins/form-css.pug

block content
  +form-css
  style.
    p.error {
      color: #d5152e;
    }
    .buttons {
      margin-bottom: 40px;
    }


  h3 Sign in

  if error
    p.error Oops, wrong password!

  form(method='post')
    div.field
      label(for='user') User
      input(
        id='user'
        name='user'
        autocomplete='off'
        autocorrect='off'
        autocapitalize='off'
        spellcheck='false'
        required
        value=(auth.user || '')
      )

    div.field
      label(for='password') Password
      input(
        id='password'
        name='password'
        type='password'
        required
      )

    div.field
      div.buttons
        button.button(type='submit') Sign in
